@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Handlee&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'pages/somos';
@import 'pages/galeria';
@import 'pages/ordernar';
@import 'pages/alimentos';

@import 'layout/navigation';
@import 'layout/card_logo';
@import 'layout/seccion_menu';
@import 'layout/seccion_pasos';
@import 'layout/footer';
@import 'layout/mobile_layout';

$color_custom_white: rgb(255, 249, 241);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: $color_custom_white;
}
