$color_white: white;
$color_blanchedalmond: blanchedalmond;
$color_custom_white:  rgba(255, 255, 255, 0.705);
$color_custom_white_2:  rgb(255, 249, 241);

$color_orange_light: rgb(250, 189, 59);
$color_orange_dark: rgba(241, 126, 18, 0.849);
$color_orange: rgb(203, 131, 64);

$color_custom_black: rgba(0, 0, 0, 0.486);
$color_custom_black_2: rgba(88, 88, 88, 0.486);
$color_custom_black_3: rgba(36, 20, 1);
$color_custom_black_alpha: rgba(0, 0, 0, 0.438);