$percent_100: 100%;
$percent_30: 30%;
$percent_35: 35%;

$padding_5px: 5px;
$padding_10px: 10px;
$padding_20px: 20px;
$padding_30px: 30px;
$padding_40px: 40px;
$padding_2_percent: 2%;

$border_10px: 10px;

$margin_20px: 20px;
$margin_30px: 30px;
$margin_60px: 60px;
$margin_80px: 80px;
$margin_100px: 100px;

$center: center;
$justify: justify;
$display_grid: grid;
$display_flex: flex;

$hide: none;
$show: block;