@use "../utils/colores" as colores;
@use "../utils/tipografias" as tipografia;
@use "../utils/estructura.scss" as estructura;

@mixin sizes_100_percent{
    width: estructura.$percent_100;
    height: estructura.$percent_100;
}

.background-galeria {
    @include sizes_100_percent;
    background-image: url("../img/imgquienessomos.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size:cover;

}

.slogan-galeria {
    background-color: colores.$color_custom_white;
    height: 400px;
    width: 500px;
    margin: estructura.$margin_60px;
    border-radius: estructura.$border_10px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    padding: estructura.$padding_30px;
}

.boton-order-galeria {
    font-family: tipografia.$font_family_poetsen_one;
    font-size: 1.2rem;
    color: colores.$color_custom_black_3; 
    letter-spacing: 1.5px;
    text-decoration: none;
    background-color: colores.$color_orange_light;
    padding-top: estructura.$padding_10px;
    padding-bottom: estructura.$padding_10px;
    padding-left: estructura.$padding_20px;
    padding-right: estructura.$padding_20px;
    border-radius: estructura.$border_10px;
    margin-left: estructura.$percent_35;
    margin-right: estructura.$percent_35;
    margin-top: estructura.$margin_30px;

    &:hover {
        box-shadow: 0 0 25px colores.$color_white;
        text-decoration: underline;
        transform: scale(1.2, 1.2);
        transition: 0.3s ease;
    }
}

.titulo-galeria {
    font-family: tipografia.$font_family_bad_script;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: colores.$color_custom_black_3;
}

.texto-galeria {
    font-family: tipografia.$font_family_bad_script;
    font-size: 2.2rem;
    font-weight:900;
    letter-spacing: 1px;
    margin-top: 20px;
    color: colores.$color_custom_black_3;
}

.img-galeria {
    @include sizes_100_percent;
    object-fit: cover;
    border-radius: estructura.$border_10px;
    box-shadow: 0 0 25px colores.$color_custom_black_2;
}

.container-galeria{
     @include sizes_100_percent;
}

.renglon-imagen{
    @include sizes_100_percent;
    display: grid;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.link-imagen-galeria{
    &:hover {
        box-shadow: 0 0 25px colores.$color_custom_black;
        transform: scale(1.1, 1.1);
        transition: 0.5s ease;
    }
}

.main-galeria {
    width: estructura.$percent_100;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2,50%);
    row-gap: 2rem;
}
