@use "../utils/colores" as colores;
@use "../utils/tipografias" as tipografia;
@use "../utils/estructura.scss" as estructura;

@mixin sizes_100_percent{
    width: estructura.$percent_100;
    height: estructura.$percent_100;
}

.contacto {
    display: grid;
    grid-template-columns: estructura.$percent_100;
    grid-template-rows: repeat(2, 50%);
    background-color: colores.$color_orange;
    border-radius: estructura.$border_10px;
    padding: estructura.$padding_30px;
}

.contacto-container{
    @include sizes_100_percent;
    display: estructura.$display_flex;
    justify-content: estructura.$center;
}

.contacto-iconos {
    display: estructura.$display_flex;
    flex-direction: column;
    justify-content: estructura.$center;
    align-items: center;
    padding: estructura.$padding_10px;
}

.text-contacto {
    font-size: 2.5rem;
    color: colores.$color_custom_black_3;
    text-decoration: none;
}

.contacto-form{
    width: calc(estructura.$percent_100/2);
    margin: 50px;
}

.form-container{
    @include sizes_100_percent;
    display: estructura.$display_flex;
    justify-content: estructura.$center;
}

.button-form{
    width: estructura.$percent_100;
    display: estructura.$display_flex;
    justify-content: estructura.$center;
}

.btn-primary{
    &:hover, &:active, &:visited {
        background-color: colores.$color_orange !important;
        border-color: colores.$color_custom_black_3 !important;
    }
}