@use "../utils/colores" as colores;
@use "../utils/tipografias" as tipografia;
@use "../utils/estructura.scss" as estructura;

.titulo-laabuelalila {
    text-align: estructura.$center;
    margin-top: estructura.$margin_80px;
    margin-bottom: estructura.$margin_30px;
    font-family: tipografia.$font_family_bad_script;
    font-size: 2.5rem;
    padding-left: estructura.$padding_2_percent;
    padding-right: estructura.$padding_2_percent;
}

.text-quienessomos {
    margin: estructura.$margin_30px;
    text-align: estructura.$justify;
    font-size: tipografia.$font_size_1_3_rem;
    line-height: 2;
}

.img-quienes-somos {
    width: estructura.$percent_100;
    height: 300px;
    object-fit: cover;
    margin-top: estructura.$margin_80px;
}

.cont-valores {
    display: inline-flex;
    text-align: estructura.$center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: estructura.$margin_60px;
}

.titulo-valores { 
    margin: estructura.$margin_20px;
    font-weight: 600;
    font-size: tipografia.$font_size_1_3_rem;
    color: colores.$color_custom_black_3;
}

.texto-valores {
    text-align: estructura.$justify;
    padding-left: estructura.$padding_40px;
    padding-right: estructura.$padding_40px;
    color: colores.$color_custom_black_3;
}