@use "../utils/colores" as colores;
@use "../utils/tipografias" as tipografia;
@use "../utils/estructura.scss" as estructura;

/*logo imagen de incio*/
.logo-inicio { 
    box-shadow: 0 0 25px colores.$color_orange;
    padding: 15px;
    background-color: colores.$color_white;
    border-radius: border_10px;
    z-index: 1;
}

.cont-logo {
    width: estructura.$percent_100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/* fin de logo imagen inicio*/

/*card slogan junto a logo de inicio*/
.slogan {
    display: flex;
    flex-direction: column;
    align-items: estructura.$center;
    background-color: colores.$color_orange;
    height:200px;
    width: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 25px colores.$color_orange;
}

.slogantext {
    color: colores.$color_white;
    font-family: tipografia.$font_family_edu_cursive;
    font-weight:500;
    padding-left: estructura.$padding_30px;
    padding-top: estructura.$padding_20px;
    font-size: 2rem;
}

.button-order-slogan {
    margin-left: 50px;
    margin-top: 50px;
}
/*termina card slogan junto a logo de inicio*/