$color_orange: rgb(203, 131, 64);
$color_white: white;

$margin_100px: 100px;
$percent_100: 100%;

@mixin sizes_100_percent{
    width: $percent_100;
    height: $percent_100;
}


/* seccion del footer*/
.cont-footer {
    background-color: $color_orange;
    margin-top: 100px;
    @include sizes_100_percent;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%);
    column-gap: 1rem;
}

.logo-footer {
    padding: calc($margin_100px/5);
}

.links-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-footer {
    text-decoration: none;
    color: $color_white;
    font-size: 1rem;
    letter-spacing: 1px;
}

.text-footer:hover {
    text-decoration: underline;
}

.text-footer-wa{
    text-decoration: none;
    color: $color_white;
    font-size: 1rem;
    letter-spacing: 1px;
}

.text-footer-wa:hover{
    text-decoration: underline;
}

.siguenos-text{
    display: none;
}

.rs-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    border-width: 1px;
    width: 1px;
    border-style: solid;
    border-color: $color_white;
    height: calc($percent_100/2);
    margin: 15px;
}

.siguenos-rs-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* termina seccion del footer*/