@use "../utils/colores" as colores;
@use "../utils/tipografias" as tipografia;
@use "../utils/estructura.scss" as estructura;

/*barra de navegacion inicio*/

/*background barra de navegacion*/
.div-menu {
    background-color: colores.$color_orange;
    display: estructura.$display_flex; 
    flex-direction: row;
    overflow: hidden; 
}

/*contenedor menu izq de barra de navegacion*/
.cont-menu-left {
    width: 70%;
    justify-content: space-evenly;
    display: estructura.$display_flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: estructura.$padding_5px;
    padding-bottom: estructura.$padding_5px;
}

/*contenedor menu derecho boton ordenar*/
.menu-order {
    width: 30%;
    justify-content: right;
    display: flex;
    flex-direction: row-reverse;
    padding-top: estructura.$padding_5px;
    padding-bottom: estructura.$padding_5px;
}

.menu-order-button {
    font-family: tipografia.$font_family_poetsen_one;
    font-size: 1.2rem;
    color: colores.$color_custom_black_3; 
    letter-spacing: 1.5px;
    text-decoration: none;
    background-color: colores.$color_orange_light;
    padding-top: estructura.$padding_10px;
    padding-bottom: estructura.$padding_10px;
    padding-left: estructura.$padding_20px;
    padding-right: estructura.$padding_20px;
    border-radius: 10px;
    margin-right: 75px;

    &:hover{
        box-shadow: 0 0 25px colores.$color_white;
        text-decoration: underline;
        transform: scale(1.05,1.05);
        transition: 0.3s ease;
    }
}

/*botones de menu de barra de navegacion*/
.style-menu {
    font-family: tipografia.$font_family_poetsen_one;
    font-size: 1.2rem;
    color: colores.$color_white;
    letter-spacing: 1.5px;
    padding: 20px;

    &:link{
        text-decoration: none;
    }

    &:hover{
        color: colores.$color_custom_black_3;
        background-color: colores.$color_blanchedalmond;
        border-radius: 10px;
        padding-top: estructura.$padding_10px;
        padding-bottom: estructura.$padding_10px;
        padding-left: estructura.$padding_20px;
        padding-right: estructura.$padding_20px;
        text-decoration: underline;
    }

}

.style-menu-active {
    font-family: tipografia.$font_family_poetsen_one;
    font-size: 1.2rem;
    color: colores.$color_custom_black_3;
    letter-spacing: 1.5px;
    background-color: colores.$color_blanchedalmond;
    border-radius: 10px;
    padding-top: estructura.$padding_10px;
    padding-bottom: estructura.$padding_10px;
    padding-left: estructura.$padding_20px;
    padding-right: estructura.$padding_20px;
    text-decoration: underline;

    &:hover{
        text-decoration: underline;
        color: colores.$color_custom_black_3;
    }
}

.button {
    padding: 10px; 
    text-align: center;
}
/*barra de navegacion fin*/
