$color_custom_white: rgb(255, 249, 241);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: $color_custom_white;
}
