@use "../utils/colores" as colores;
@use "../utils/estructura.scss" as estructura;

/* seccion de pasos para realizar tu pedido*/
.cont-pasos-pedido {
    background-color: colores.$color_orange;
    width: estructura.$percent_100;
    height: estructura.$percent_100;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    row-gap: 1rem;
    align-items: estructura.$center;
    justify-content: estructura.$center;
}

.cont-pasos {
    background-color: colores.$color_white;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 20px;
    text-align: estructura.$center;
    box-shadow: 0 0 15px colores.$color_custom_black_alpha;
}

.titulo-pasos {
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.texto-pasos {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    color: colores.$color_custom_black_3;
}
/* finaliza la seccion de pasos para realizar tu pedido*/