$color_orange: rgb(203, 131, 64);
$color_custom_black_alpha: rgba(0, 0, 0, 0.438); 
$color_white: white;
$color_custom_black: rgb(36, 20, 1);

$percent_100: 100%;

/* seccion de pasos para realizar tu pedido*/
.cont-pasos-pedido {
    background-color: $color_orange;
    width: $percent_100;
    height: $percent_100;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cont-pasos {
    background-color: $color_white;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 15px $color_custom_black_alpha;
}

.titulo-pasos {
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.texto-pasos {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    color: $color_custom_black;
}
/* finaliza la seccion de pasos para realizar tu pedido*/