@use "../utils/colores" as colores;
@use "../utils/tipografias" as tipografia;
@use "../utils/estructura.scss" as estructura;

/*título de MENÚ*/
.titulo-menu {
    text-align: estructura.$center;
    margin-top: 95px;
    font-family: tipografia.$font_family_bad_script;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: colores.$color_custom_black_3
}
/*Termina título del manú*/

/*Menú de alimentos*/
.img-alimentos {
    width: estructura.$percent_100;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: estructura.$border_10px;
    border-top-right-radius: estructura.$border_10px;
}

.card-alimentos {
    display: flex;
    flex-direction: column;
    width: estructura.$percent_100;
    justify-content: estructura.$center;
    align-items: estructura.$center;
    box-shadow: 0 0 25px colores.$color_custom_black_alpha;
    margin-left: estructura.$margin_30px;
    margin-right: estructura.$margin_30px;
    border-radius: estructura.$border_10px;
}

.cont-alimentos {
    width: estructura.$percent_100;
    height: estructura.$percent_100;
    display: grid;
    grid-template-columns: repeat(4, 15%);
    column-gap: 2rem;
    justify-content: estructura.$center;
    align-items: estructura.$center;
    margin-top: 40px;
}

.titulo-alimento {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    text-align: estructura.$center;
    padding: 20px;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: colores.$color_custom_white_2;
    color: colores.$color_custom_black_3;
}
/* termina menú de alimentos*/